* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* Page */

.page {
  padding-top: 56px;
  min-height: calc(100vh - 56px);
}

/* Category card */

.category-card {
  min-height: 162px;
  cursor: pointer;
}

.category-card:hover {
  color: #fff;
  background-color: #3483fa;
}

/* Products page & Cart page layouts*/

.aside-column {
  width: 100%;
}

.central-column {
  width: 100%;
}

/* Filters */

.dropdown-list-item {
  margin-bottom: 0.25rem;
  cursor: pointer;
  transition: all 0.3s;
}

.dropdown-list-item:hover {
  color: #0d6efd;
}

/* Cart Item image */

.cart-image {
  width: 60px;
}

/* Remove button */

.remove-text {
  display: none;
}

@media screen and (min-width: 480px) {
  .cart-image {
    width: 100px;
  }

  .remove-text {
    display: inline;
  }
}

@media screen and (min-width: 700px) {
  .aside-column {
    width: 32%;
  }
  .central-column {
    width: 65%;
  }
}

/* Login & register form title */

@media screen and (min-width: 1025px) {
  .h-custom-2 {
    height: 100%;
  }
}

/* Navbar */

.navbar-brand {
  letter-spacing: 3px;
  font-size: 2rem;
  font-weight: 500;
}

/* Product card */
